<div style="display: flex; flex-direction: column">
    <div>Display and filter large tree: 5000 node</div>
    <input type="text" style="width: 300px; margin: 5px 0" [(ngModel)]="value" (ngModelChange)="onChangeText()">
    <div style="border: 1px solid black; width: 300px">
        <nn-tree #displayFilterTree [root]="displayFilerRoot" [showRoot]="true" [height]="250" [width]="300">
            <ng-template let-node="node" #nnTreeItem>
                <nn-tree-item [node]="node"></nn-tree-item>
            </ng-template>
        </nn-tree>
    </div>
    <br/>
    <div style="margin: 5px 0">Lazy loading tree:</div>
    <div style="border: 1px solid black; width: 300px">
        <nn-tree #lazyLoadingTree (openNode)="onOpen($event)" [root]="lazyLoadingRoot" [showRoot]="false" [height]="250" [width]="300">
            <ng-template let-node="node" #nnTreeItem>
                <nn-tree-item [node]="node"></nn-tree-item>
            </ng-template>
        </nn-tree>
    </div>
</div>