<div #container [ngStyle]="{'height.px': height}" style="overflow: auto" (scroll)="updateDisplay()">
    <div style="position: relative;display: flex; flex-direction: column" [ngStyle]="{'height.px': actualHeight}">
            <div template="ngFor let item of displayItems; let i = index" style="position: absolute" 
                [ngStyle]="{'padding-left.px': item.left, 'height.px': itemHeight, 'top.px': item.top}">
                <ng-virtual-tree-item 
                    [node]="item"
                    (onOpen)="onOpenNode($event, item.index)"
                    (onClose)="onCloseNode($event, item.index)"
                    (onClickTitle)="onSelectionChange($event)"
                    ></ng-virtual-tree-item>
            </div>
        
    </div>
</div>