.nn-tree-item{
    position: absolute; 
    display: flex; 
    flex-direction: row;
    user-select: none;
    cursor: default;
    z-index: 1;
}

.nn-tree-item:hover{
    background-color: dodgerblue;
    color: white;
}

.nn-tree-content{
    position: relative;
    display: flex; 
    flex-direction: column;
}

.nn-tree-overplay{
    background-color: dodgerblue; 
    position: absolute;
    z-index: 10; 
    top: -30px;
}